<div>
  <div>
    <h1>
      List of all experiences
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new experience
    </h2>

    <form action="/insert_experience" method="post">
      <div>
        <label for="credential_id_box">
          Credential
        </label>

        <input type="text" id="credential_id_box" name="query_credential_id">
      </div>

      <div>
        <label for="provider_id_box">
          Provider
        </label>

        <input type="text" id="provider_id_box" name="query_provider_id">
      </div>

      <button>
        Create experience
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Credential
        </th>

        <th>
          Provider
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_experiences.each do |an_experience| %>
      <tr>
        <td>
          <%= an_experience.id %>
        </td>

        <td>
          <%= an_experience.credential_id %>
        </td>

        <td>
          <%= an_experience.provider_id %>
        </td>

        <td>
          <%= time_ago_in_words(an_experience.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_experience.updated_at) %> ago
        </td>

        <td>
          <a href="/experiences/<%= an_experience.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
