<h1>
  <%= params.fetch("path_id") %>
</h1>

<img src="<%= @the_provider.image %>">  

<div>
  <h1>
    <%= @the_provider.organization_name %>
  </h1>
  <h1>
    <%= @the_provider.full_name %>
  </h1>
  <h2>
    <%= @the_provider.email %>
  </h2>
  <h2>
    <%= @the_provider.price %>
  </h2>
  <h3>
    <%= @the_provider.schedule %>
  </h3>
</div>

<div>
<form action="/insert_availability" method="post">

  <label for="monday_day">Monday</label>
  <input id="monday_day" type="hidden" name="query_day" value="Monday">

  <label for="monday_open_time">Open</label>
  <input id="monday_open_time" type="time" name="query_open_time">

  <label for="monday_close_time">Close</label>
  <input id="monday_close_time" type="time" name="query_close_time">

  <label for="monday_schedule_id"></label>
  <input id="monday_schedule_id" type="hidden" name="query_schedule_id">
  
  <button>Submit</button>
</form>

<form action="/insert_availability" method="post">

  <label for="tuesday_day">Tuesday</label>
  <input id="tuesday_day" type="hidden" name="query_day">

  <label for="tuesday_open_time">Open</label>
  <input id="tuesday_open_time" type="time" name="query_open_time">

  <label for="tuesday_close_time">Close</label>
  <input id="tuesday_close_time" type="time" name="query_close_time">

  <label for="tuesday_schedule_id"></label>
  <input id="tuesday_schedule_id" type="hidden" name="query_schedule_id">
  
  <button>Submit</button>
</form>

<form action="/insert_availability" method="post">

  <label for="wednesday_day">Wednesday</label>
  <input id="wednesday_day" type="hidden" name="query_day">

  <label for="wednesday_open_time">Open</label>
  <input id="wednesday_open_time" type="time" name="query_open_time">

  <label for="wednesday_close_time">Close</label>
  <input id="wednesday_close_time" type="time" name="query_close_time">

  <label for="wednesday_schedule_id"></label>
  <input id="wednesday_schedule_id" type="hidden" name="query_schedule_id">
  
  <button>Submit</button>
</form>

<form action="/insert_availability" method="post">

  <label for="thursday_day">Thursday</label>
  <input id="thursday_day" type="hidden" name="query_day">

  <label for="thursday_open_time">Open</label>
  <input id="thursday_open_time" type="time" name="query_open_time">

  <label for="thursday_close_time">Close</label>
  <input id="thursday_close_time" type="time" name="query_close_time">

  <label for="thursday_schedule_id"></label>
  <input id="thursday_schedule_id" type="hidden" name="query_schedule_id">
  
  <button>Submit</button>
</form>

<form action="/insert_availability" method="post">

  <label for="friday_day">Friday</label>
  <input id="friday_day" type="hidden" name="query_day">

  <label for="friday_open_time">Open</label>
  <input id="friday_open_time" type="time" name="query_open_time">

  <label for="friday_close_time">Close</label>
  <input id="friday_close_time" type="time" name="query_close_time">

  <label for="friday_schedule_id"></label>
  <input id="friday_schedule_id" type="hidden" name="query_schedule_id">
  
  <button>Submit</button>
</form>

<form action="/insert_availability" method="post">

  <label for="saturday_day">Saturday</label>
  <input id="saturday_day" type="hidden" name="query_day">

  <label for="saturday_open_time">Open</label>
  <input id="saturday_open_time" type="time" name="query_open_time">

  <label for="saturday_close_time">Close</label>
  <input id="saturday_close_time" type="time" name="query_close_time">

  <label for="saturday_schedule_id"></label>
  <input id="saturday_schedule_id" type="hidden" name="query_schedule_id">
  
  <button>Submit</button>
</form>

<form action="/insert_availability" method="post">

  <label for="sunday_day">Sunday</label>
  <input id="sunday_day" type="hidden" name="query_day">

  <label for="sunday_open_time">Open</label>
  <input id="sunday_open_time" type="time" name="query_open_time">

  <label for="sunday_close_time">Close</label>
  <input id="sunday_close_time" type="time" name="query_close_time">

  <label for="sunday_schedule_id"></label>
  <input id="sunday_schedule_id" type="hidden" name="query_schedule_id">

  <button>Submit</button>
</form>
</div>

    <%# the_credential = Credential.new
    the_credential.name = params.fetch("query_name")
    the_credential.date_received = params.fetch("query_date_received")
    the_credential.description = params.fetch("query_description")
    the_credential.institution = params.fetch("query_institution") %>

<div>
  <form action="/insert_credential" method="post">
    <label for="credential_name">Name</label>
    <input id="credential_name" type="text" name="query_name">

    <label for="credential_date">Date Received</label>
    <input id="credential_date" type="date" name="query_date_received">

    <label for="credential_description">Description</label>
    <textarea id="credential_description" type="text" name="query_description"></textarea>

    <label for="credential_institution">Institution</label>
    <input id="credential_institution" type="text" name="query_institution">

    <button>Submit</button>
  </form>
</div>

<div>
  <form action="/insert_language" method="post">
    <label for="language_name">Language</label>
    <select id="language_name" name="query_name">
      <option value="English">English</option>
      <option value="English">Spanish</option>
      <option value="English">Polish</option>
    </select>
    <button>Submit</button>
  </form>
</div>

<div>
  <form action="/insert_language" method="post">
    <legend>Languages</legend>

      <div>
        <label for="language_name">English</label>
        <input id="language_name" type="checkbox" name="query_name" value="English">
      </div>

      <div>
        <label for="language_name">Spanish</label>
        <input id="language_name" type="checkbox" name="query_name" value="Spanish">
      </div>
      
      <div>
        <label for="language_name">Polish</label>
        <input id="language_name" type="checkbox" name="query_name" value="Polish">
      </div>

      <div>
        <button type="Submit">Submit</button>
      </div>
  </form>
</div>